
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLOG</title>

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link href="/css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/scripts/flatpickr/dist/flatpickr.min.css">


</head>
<body>
    <h1 class="title display-3 text-center mt-4 mb-4">The blawwwg times</h1>

    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">

            <button class="navbar-toggler" style="color: black;" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon" ></span>
            </button>


            <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav nav-justified w-100">
                <li class="nav-item">
                  <a class="nav-link active" href="#">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Services</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Contact</a>
                </li>
              </ul> 
            </div>             
        </div>
    </nav>


    <div class = "editpost-popup-modal" id="editpost-popup-modal">
        <div class="editpost-overlay-modal" id="editpost-overlay-modal">
        
            <div class="editpost-blog-form col-md-7 col-lg-8">
                <h4 class="mb-3">EDIT BLOG</h4>

                <form class="form-content" action="/update-post/<%= post.id %>" method="post" enctype="multipart/form-data">
                    <div class="row g-3">
                        <div class="col-sm-6"> <label for="firstName" class="form-label">First name</label> 
                            <input type="text" class="form-control" id="firstName" name="firstName" placeholder="" value="" required="">
                            <div class="invalid-feedback">
                                Valid first name
                            </div>
                        </div>
                        <div class="col-sm-6"> <label for="lastName" class="form-label">Last name</label> 
                            <input type="text" class="form-control" id="lastName" name="lastName" placeholder="" value="" required="">
                            <div class="invalid-feedback">
                                Valid last name is required.
                            </div>
                        </div>
                       
                        <div class="col-12"> <label for="email" class="form-label">Email <span
                                    class="text-body-secondary">(Optional)</span></label> <input type="email"
                                class="form-control" id="email" name="email" placeholder="you@example.com" required="">
                            <div class="invalid-feedback">
                                Please enter a valid email address.
                            </div>
                        </div>
                        <div class="col-12"> <label for="content" class="form-label">BLOG</label> 
                            <textarea class="form-control" rows="5" name="content" id="content" required></textarea>
                            <div class="invalid-feedback">
                                Please enter your blog.
                            </div>
                        </div>

                        <div class="col-12"> 
                            <label for="blogImage" class="form-label">Want to change this image?</label> 
                            <div class="radio-group">
                              <label for="changeImage"><input type="radio" id="changeImageYes" name="changeImage" value="yes"> yes</label>
                              <label for="changeImage"><input type="radio" id="changeImageNo" name="changeImage" value="no" checked> no</label>
                            </div>
                            <img id="editpost-image-preview" class="editpost-image-preview" src="" alt="">                          
                          </div>
                        <div class="changeBlogimage-container col-12" id="changeBlogimage-container" style="display: none;"> 
                            <label for="changeBlogImage" class="form-label">UPLOAD AN IMAGE</label> 
                          <input class="form-control" type="file" name="changeBlogImage" id="changeBlogImage" accept="image/*" >
                        </div>

                        
                    
        
                    <hr class="my-4">
        
                    <input type="text" id="postDate" name="date" placeholder="please select a date" required="">
                    
                    <div class="form-check"> 
                        <input type="checkbox" class="form-check-input" id="today-date" name="" > 
                        <label class="form-check-label" for="today-date">Today date as written date address</label>
                    </div>
                    
                </div>

                    <hr class="my-4">
                    <button class="checkout-btn w-100 btn btn-primary btn-lg my-1" id="edit-update-btn" type="submit">update</button>
                    <button class="close-btn w-100 btn btn-primary btn-lg my-1" id="edit-post-close-btn" type="button">Ok, Close</button>
                </form>
            </div>
        
        
              
        </div>
    </div>


    <div class="container main-container d-flex flex-column">

        <div class="img-container">

        <button class="edit-post-btn" id="edit-post-btn" 
        data-id="<%= post.id %>" 
        data-firstName="<%= post.firstName %>"
        data-lastName="<%= post.lastName %>"
        data-email="<%= post.email %>"
        data-content="<%= post.content %>"
        data-date="<%= post.date %>"
        data-image = "<%= post.blogImage %>">EDIT POST</button>

        <button class="del-post-btn" id="del-post-btn" data-id="<%= post.id %>" >DEL POST</button>

        <% if (post.blogImage) { %>
        <img src="/uploads/<%= post.blogImage %>" class="hero-img" alt="">
        <% } %>
        </div>

        <div class="hero-desc-body text-body-emphasis bg-body-secondary">
            <time class="m-4" datetime="2025-08-27"><%= post.date %></time>
            <div class="text-container col-lg-6 px-0 p-md-2 mb-4 " >
                <h1 class="hero-title"><%= post.firstName %> <%= post.lastName %></h1>
                <p class="hero-desc"><%= post.email %></p>
                <p class="hero-desc lead my-1"><%= post.content %></p>
            </div>
        </div>
    </div>


    <div class="footer">
        <footer class=" mt-4 border-top">
            <div class="footer-container">
                <button class="back-to-top-btn" id="back-to-top-btn"><i class="bi bi-arrow-up"></i>TO TOP</button>
                <h1 class="mb-3 mb-md-0 text-body-secondary">© 2025 THE BLAWWWG TIMES </h1> 
            </div>
        </footer>
    </div>


    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/scripts/flatpickr/dist/flatpickr.min.js"></script>
    <script src = '/js/script.js' type="module"></script>

</body>
</html>